@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root{
    --grey : #e0e0e0;
    --white : #ffffff;
}

.rc{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #ffffff;
}

.container{

    background-color:#e0e0e0;
}

.cg-card{
    background-color: #ffffff;
    transition: 0.5s;
}

.cg-card:hover{
    transform: scale(1.1);
}
